header{
  width:100%;
  display:flex;
  justify-content: space-around;
  background-color:#461b7e;;
}
h1,h2{
  font-size: 2.5em;
  font-style:italic;
  text-transform: uppercase;
}
#workExamples h2{
  text-align: center;
}
#hero{
  width:95%;
  display:flex;
  justify-content: flex-end;
  background-image: url("../img/test.jpg");
  background-size: cover;
}
#overlay{
  background-color: rgba(0, 0, 0, 0.8);
  height:30%;
}
#overlay h2{
  padding: 1em;
}
body {
  background-image:  url("../img/hexWall.png");
  font-weight:100;
  font-family: Verdana, sans-serif;
  color:#fff;
  max-width: 1200px;
  margin:0 auto;
  padding: 0;
}
ul{
  list-style-type:none;
}
nav{
  display:flex;
  justify-content: space-around;
  border-style: solid;
  border-color:#461b7e;
}
footer{
  width:100%;
  display:flex;
  justify-content: space-around;
  background-color:#461b7e;
}
.container{
  width: 95%;
  margin: auto;
}
.icon{
  width:57px;
  padding:5px;
}
.links:hover{
  background-color:white;
  border-radius: 5px;
}
.projects{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}
#logo{
  max-width: 25%;
  justify-content:flex-end;
}
#test{
  width:100%;
}
#title{
  justify-content:flex-start;
  text-align:right;
}
.image{
  max-width: 200px;
}
#portrait{
  max-width: 10em;
  padding:10px;
}
