header{
  padding-top: 10px;
  width:100%;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap-reverse;
  justify-content: space-around;
}

h1{
  font-size: 2.5em;
  font-style:italic;
  text-transform: uppercase;
}
h2{
  font-style:italic;
  font-size: 1em;
  text-transform: uppercase;
}
#overlay{
  width:100%;
  display:flex;
  justify-content: center;
  background-image: url("../img/Valley.png");
  background-size:cover;
}
#overlay h2{
  color:white;
  text-align: center;
  font-size: 2em;
  padding: 3em;
}
.container{
  padding:5px;
}
body {
  background-image:  url("../img/hexWall.png");
  font-weight:100;
  font-family: Verdana, sans-serif;
  color:#3e4c57;
  max-width: 1000px;
  margin:0 auto;
  padding: 0;
}
footer{
  width:100%;
  display:flex;
  justify-content:center;
}
#links{
  align-items: center;
}
.icon{
  width:57px;
  padding:5px;
}
.link:hover{
  transform:scale(1.1);
}
#workExamples{
  width:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
@media (max-width:449px){
.projects{
  text-align: center;
  width: 100%;
  padding: 10px;
}
h2{
  font-style:italic;
  font-size: 1.5em;
  text-transform: uppercase;
}
header p{
  font-size: 1em;
  text-transform: uppercase;
  line-height: 0;
}
}
 @media (min-width:450px) and (max-width:600px){
.projects{
  text-align: center;
  width: 45%;
  padding: 5px;
}
h2{
  font-style:italic;
  font-size: 1em;
  text-transform: uppercase;
}
header p{
  font-size: 1.25em;
  text-transform: uppercase;
  line-height: 0;
}
}
@media (min-width:601px){
.projects{
  text-align: center;
  width: 30%;
  padding: 10px;
}
h2{
  font-style:italic;
  font-size: 1em;
  text-transform: uppercase;
}
header p{
  font-size: 1.25em;
  text-transform: uppercase;
  line-height: 0;
}
}
@media screen and (max-width:685px){
#title{
  justify-content:center;
  text-align:center;
}
#logo{
  max-width: 25%;
  justify-content:center;
}
}
@media screen and (min-width:686px){
#title{
  justify-content:flex-start;
  text-align:right;
}
#logo{
  max-width: 25%;
  justify-content:flex-end;
}
}
.image{
  max-width: 200px;
}
#portrait{
  max-width: 10em;
  border-style: solid;
  border-color: #3e4c57;
  border-width: 5px;
}
